<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.excean.mirror.plugin.holder"

    >

    <permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application
        android:name="com.excean.mirror.plugin.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true">
        <meta-data
            android:name="mirror.service"
            android:value="${MIRROR_SERVICE}" />

        <meta-data
            android:name="mirror.package"
            android:value="${MIRROR_PACKAGE}" />

        <meta-data
            android:name="mirror.user"
            android:value="${MIRROR_USER}" />

        <meta-data
            android:name="mirror.attribute"
            android:value="${MIRROR_ATTRIBUTE}" />

        <meta-data
            android:name="mirror.label"
            android:value="@string/mirror_name" />

        <meta-data
            android:name="mirror.obb"
            android:value="${MIRROR_OBB}" />

        <activity
            android:name="com.excean.mirror.plugin.MainActivity"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Light.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.excean.mirror.plugin.UIWrapperProvider"
            android:authorities="${applicationId}:UIWrapperProvider"
            android:exported="true"></provider>
    </application>

</manifest>