<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yyong.vphone.middleware">

    <application>
        <activity android:name="com.yyong.middleware.ui.base.WebViewActivity" />

        <meta-data
            android:name="MainChId"
            android:value="${mainChId}" />
        <meta-data
            android:name="SubChId"
            android:value="${subChId}" />
    </application>
</manifest>